{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="container">
    <h1>Your Favorite Pokémon:</h1>
    {% if pokemonlst %}
      <div class="row">
        {% for pokemon in pokemonlst %}
          <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
              <img src="{{ pokemon.sprite }}" class="card-img-top" alt="sprite">
              <div class="card-body">
                <h5 class="card-title">#{{ pokemon.id }} {{ pokemon.name | capitalize }}</h5>
                <p class="card-text">Types: {{ pokemon.types | join(', ') }}</p>
                <p class="card-text">Abilities: {{ pokemon.abilities | join(', ') }}</p>
                <a href="/pokemon-info?pokemon_name={{ pokemon.name }}" class="btn btn-primary">Info</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% elif error %}
      <p>{{ error }}</p>
    {% else %}
      <p>No Pokémon data available. Get Catching!</p>
    {% endif %}
  </div>
</div>
{% endblock %}
